DATABASE_URL=postgresql://.....
SECRET_KEY=....
ALGORITHM=...
ACCESS_TOKEN_EXPIRE_HOURS=..
STORAGE_PROVIDER=local
UPLOAD_DIR=uploads
DEFAULT_ADMIN_EMAIL=admin@....
DEFAULT_ADMIN_PASSWORD=a.......
CLOUDFLARE_R2_BUCKET=gulfconsultant
CLOUDFLARE_R2_PREFIX=gulfconsultant
CLOUDFLARE_R2_ENDPOINT_URL=https://<account-id>.r2.cloudflarestorage.com
CLOUDFLARE_R2_ACCESS_KEY_ID=...
CLOUDFLARE_R2_SECRET_ACCESS_KEY=...
CLOUDFLARE_R2_PUBLIC_BASE_URL=https://pub-<id>.r2.dev
